[Unit]
Description=authserver

[Service]
Type=simple
ExecStart=/usr/bin/as.sh
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
